# Career Chief Pro — Lemon Squeezy license-key unlock.
# The dialog reads its purchase tiers from VITE_LS_TIERS (a JSON array).
# Each tier: name, price label, variant UUID, checkout URL, license term.
# The older single-variant vars below still work as a fallback (one tier).
VITE_LS_TIERS=[{"name":"30-Day","price":"$29","variant":"84dc2065-573d-4728-8171-db19bff3fbe9","url":"https://career-chief.lemonsqueezy.com/checkout/buy/84dc2065-573d-4728-8171-db19bff3fbe9","term":"full Pro for 30 days"},{"name":"1-Year","price":"$79","variant":"29ca761c-4bfa-4559-a200-4f1f29a91115","url":"https://career-chief.lemonsqueezy.com/checkout/buy/29ca761c-4bfa-4559-a200-4f1f29a91115","term":"full Pro for 1 year"},{"name":"Lifetime","price":"$149","variant":"1bba34cc-d56c-448e-b90b-02bef31a2799","url":"https://career-chief.lemonsqueezy.com/checkout/buy/1bba34cc-d56c-448e-b90b-02bef31a2799","term":"full Pro forever"}]
VITE_LS_STORE_ID=489627
VITE_LS_PRODUCT_ID=1410663
VITE_LS_VARIANT_ID=
VITE_LS_CHECKOUT_URL=
VITE_LS_PRICE_LABEL=
